body {
    margin: 0 15% 0 15%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.logo {
    display: inline-block;
    width: 156px;
    height: auto;
}

.add-data-icon {
    margin-right: 8px;
}

.add-data-button {
}

@media screen and (max-width: 457px) {
    .add-data-button {
        margin-top: 10px;
    }
}

main {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.transactions-table {
    width: 100%;
}

.transactions-table > div > table > tbody > tr > td:nth-child(2) {
    color: #6B7280;
}

.transactions-table > div > table > tbody > tr > td:nth-child(3) {
    color: #111928;
}

.completed-status-button {
    color: #03543F;
    background-color: #DEF7EC;
}

.cancelled-status-button {
    color: #9B1C1C;
    background-color: #FDE8E8;
}

.in-progress-status-button {
    color: #5521B5;
    background-color: #EDEBFE;
}